import streamlit as st
import pandas as pd
import requests
import pickle
from utils import set_bg_hack, load_css
from config import BACKGROUND_IMAGE_PATH, DATA_PATH, MODEL_PATH
from sklearn.preprocessing import LabelEncoder, StandardScaler
import base64
from PIL import Image
import io